body {
  margin: 0px;
}


.main-content {

}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

#head-wrap {
  height: 870px;
  background: url("../../images/facebg2.png") 50% 95% no-repeat fixed;
  display: flex;
  flex-direction: column;
}

#logo {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 258px;
  cursor: pointer;
  margin: 100px 0 12px 108px;
  transition: all .5s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}
/*
#logo:active {
  transform: scale(1.3);
  animation-name: Main-logo-spin;
  animation-duration: 2s;
}*/

#desc {
}

h2 {
  width: 152px;
  font-weight: 200;
  font-family: 'AvenirNext-Regular';
  font-size: 18px;
  margin: 24px 0 0 120px;
  transition: all .2s ease-in-out;
}

h2:hover {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform: scale(1.2);
  cursor: pointer;
  color: #F1F7EE;
}


#head {
  background: url("../../images/intro.png") center center no-repeat fixed;
}
#intro {
  background: url("../../images/work.png") center center  no-repeat fixed;
}
#work {
  background: url("../../images/etc.png") center center  no-repeat fixed;
}


/*@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
  }
}*/

@keyframes Main-logo-grow {
  0% {
    transform: scale(1.0);}
  100% {
    transform: scale(1.2);}
}


/*
@media only screen and (min-width: 1000px) {
     // tablets and desktop

}

@media only screen and (max-width: 1000px) {
     // phones
}

*/
